{{ define "main" }}
{{- $blogTitle := site.Params.blogTitle | default "Blog" -}}
<main>
<div class="py-16 xl:py-28 px-4 sm:px-6 lg:px-8 overflow-hidden">
    <div class="z-10 mb-8 md:mb-2 md:px-6">
    <h1 class="mt-2 text-3xl leading-8 font-extrabold tracking-tight text-stone-900 dark:text-stone-300 sm:text-4xl">{{ $blogTitle }}</h1>
    </div>
    <div class="md:p-6">
        <div class="lg:grid lg:grid-cols-2 lg:gap-6">
          <div class="mb-8 lg:mb-0 prose prose-lg prose:stone dark:prose-invert lg:max-w-none">
            {{ partial "posts-blurb.html" . }}
          </div>
          {{ $paginator := .Paginate (where .Pages "Type" "posts") 8 }}
          <ul class="lg:ml-1">
            {{ range $paginator.Pages }}
            <li>{{ partial "post-summary.html" . }}</li>
            {{ end }}
          </ul>
          <div class="py-4 text-lg text-stone-800 dark:text-stone-400 relative flex justify-center">
              {{ if $paginator.HasPrev }}
              <a class="px-2 hover:text-stone-600 hover:dark:text-stone-300" href="{{ $paginator.Prev.URL }}">Newer Posts</a>
              {{ end }}
              {{ if $paginator.HasNext }}
              <a class="px-2 hover:text-stone-600 hover:dark:text-stone-300" href="{{ $paginator.Next.URL }}">Older Posts</a>
              {{ end }}
          </div>
        </div>
    </div>
</div>
</main>
{{ end }}
